exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "names",
    "show",
    "summary" 
)
exportClasses(
    "DGobj" 
)
import(methods,stats,graphics)
useDynLib(StrainRanking)
export(gmcpic.test)